
.box-amarelo {
    display: flex; 
    margin: 0; 
    padding: 1%;
    background-color: #fff159;
}

.lista-produtos {
    padding: 0;
}

.lista-produtos h2 {
    font-size: 1.2rem;
    color: black;
    padding: 2% 2%;
    margin: 0;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

h1 {
    display: inline-block; 
    max-width: 40%; 
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.direcionamento {
    display: flex;
    justify-content: center;
    flex-direction: row;
    nav-left: auto;
}

.arrendondando img{
    border-radius: 100%;
    border: turquoise 3px;
    display: flex;
    align-content: space-around;
}
